footer
    .footer
        ul
            li: a(href='/about') About Us
            li: a(href='/contact-us') Contact Us
            li: a(href='/about') Services
            li: a(href='/privacy-policy') Privacy and Policy
            li: a(href='/terms-conditions') Terms & Conditions

    .copyright
        p &copy; Copyright 2023 by Allied Architecturals. All Rights Reserved.
