footer
    footer.footer-distributed
        .footer-left
            img(src='/logo.png' height='80px')
            p.footer-links
                a.link-1(href='/about') About Us
                a(href='/contact-us') Contact Us
                a(href='/blogs') Blogs
                a(href='/privacy-policy') Privacy Policy
                a(href='/terms-conditions') Terms & Conditions
            p.footer-company-name Allied Architecturals © 2023
        .footer-center
            div
                i.fa.fa-map-marker
                p
                    span 121, Graystone Lakes,
                    |  Warner Robins, GA, 31093
            div
                i.fa.fa-phone
                p +1 478-330-0674
            div
                i.fa.fa-envelope
                p
                    a(href='mailto:james@alliedarchitecturals.com') james@alliedarchitecturals.com
        .footer-right
            p.footer-company-about
                span About the company
                |  "Established in 2007, Allied Architecturals, based in Warner Robins, USA, has emerged as a distinguished firm in the architectural, engineering, and construction (AEC) industry. With over three decades of expertise, we provide innovative drafting solutions to architects, builders, contractors, subcontractors, and manufacturers globally. Our commitment to excellence and efficient service has solidified our position in the AEC sector, making us a trusted partner for clients nationwide and a significant contributor to the global industry landscape."
