footer
    .footer
            ul
                li: a(href='/about') About Us
                li: a(href='/blogs') Our Blogs
                li: a(href='/about') Services
                li: a(href='#') Terms & Condition
                li: a(href='#') Privacy and Policy

    .copyright
        p &copy; Copyright 2023 by Allied Architecturals. All Rights Reserved.