footer
    .footer
        ul
            li: a(href='/about') About Us
            li: a(href='/contact-us') Contact Us
            li: a(href='/about') Services
            li: a(href='#') Terms & Conditions
            li: a(href='#') Privacy and Policy

    .copyright
        p &copy; Copyright 2023 by Allied Architecturals. All Rights Reserved.