header.header
    .header__nav
        .header__img
            a(href="/")
                img.header__logo(src='/logo.png' alt='Allied Architecturals')
            img.header__menu(src="/icons/menu.svg")

        .header__container
            ul.header__links
                li: a(href='/about') About Us
                li: a(href='/contact-us') Contact Us
                .container
                    li.btn Our Services
                    .dropdown-menu
                        each service in services
                            a(href=`/service/${service.slug}`)=service.service
                li: a(href='/samples') Samples
                li: a(href='/career') Careers
                li: a(href='/blogs') Blogs

            button.header__btn-cta Request Quote