extends base

block content
    .about
        h1.about__heading About Us
        .about__identity
            h2.about__identity-heading Our Architectural Visionaries
            .about__identity-box
                img(src='/img/img-5.jpg')
                div
                    p Established in 2007 Allied Architecturals boasts a remarkable journey in the world of architecture, spanning over three decades. From our humble beginnings, we've grown into a global force within the architecture, engineering, and construction (AEC) industry.
                    p Our story began with a clear mission: to revolutionize architectural services through innovation and precision. Embracing cutting-edge technologies, nurturing talent, and fostering invaluable partnerships, we swiftly ascended to a prominent position in the AEC sector. We've collaborated with architects, designers, engineers, and builders on countless projects worldwide, shaping skylines and communities.
                    p Our legacy is defined by pioneering CAD and BIM services, setting new benchmarks in 3D rendering and drafting. Our history stands as a testament to our unwavering dedication to excellence, innovation, and client satisfaction.
                    p As we journey forward, we invite you to be a part of our ongoing pursuit of architectural excellence, where trust meets vision to create inspiring spaces.
        .about__specialize
            h2.about__specialize-heading Our Mission
            .about__specialize-box
                div
                    p At Allied Architecturals, our mission is clear: to empower architects, designers, and builders with state-of-the-art architectural services that enhance precision, streamline collaboration, and optimize project outcomes. We strive to provide innovative solutions that inspire and transform architectural concepts into sustainable, aesthetically pleasing structures. Your success is our mission, and we are dedicated to exceeding your expectations every step of the way.
                img(src='/img/img-6.jpg')
        .about__team
            h2.about__team-heading Our Vision
            .about__specialize-box
                img(src='/img/img-7.jpg')
                div
                    p Our vision is to lead the architectural services industry globally. We're not just shaping buildings; we're shaping the future. Committed to staying at the forefront of technology and design trends, we aim to ensure our clients benefit from the latest advancements in the field. Through a culture of collaboration, creativity, and excellence, we're driving the evolution of architectural design and construction, contributing to more sustainable, innovative, and awe-inspiring built environments. Join us in shaping tomorrow's architectural landscape.
        .about__value
            h2.about__value-heading Why work with us?
            .about__value-box
                ul
                    li
                        h2 100% Commitment
                        p With our principle of 100% commitment, we aspire to add value to our customers’ core strengths by providing the best drafting services.
                    li
                        h2 Quicker Turnaround
                        p We work hard to meet deadlines and demonstrate excellence by providing top CAD drafting services adhering to project timelines.
                    li
                        h2 High Quality Drawings
                        p Our drafting professionals examine and draft drawings that allow seamless communication between architects, designers, contractors, and manufacturers.
                    li
                        h2 Cost-Effective & Reliable
                        p We provide cost-effective drafting solutions at all stages of a project, from scoping work with you to estimating effort and implementing the solution.
                img(src='/img/img-8.jpg')