extends base

block content
    section.dashboard
        h1.dashboard__heading Our Blogs
        .dashboard__container
            each blog in blogs
                .dashboard__box
                    .dashboard__box-title
                        label(for='title') Title:
                        textarea.title(id='title' rows="2" cols="50" disabled)=blog.title
                    .dashboard__box-content_1
                        label(for='content-1') Content 1:
                        textarea.content-1(id='content-1' rows="6" cols="50" disabled)=blog.content_1
                    .dashboard__box-content_2
                        label(for='content-2') Content 2:
                        textarea.content-2(id='content-2' rows="6" cols="50" disabled)=blog.content_2
                    .dashboard__box-content_3
                        label(for='content-3') Content 3:
                        textarea.content-3(id='content-3' rows="6" cols="50" disabled)=blog.content_3
                    button.dashboard__box-edit Edit Fields
                    button.dashboard__box-update Update
                    button.dashboard__box-cancel Cancel
                    button.dashboard__box-delete Delete