extends base

block content
    .privacy
        header
            h1 Privacy Policy for Allied Architecturals
            p Your Trusted Partner in Architectural Solutions
        section
            h2 At Allied Architecturals LLC, your privacy is our top priority. We understand the importance of safeguarding your personal information, and we are committed to maintaining your trust. This Privacy Policy outlines how we collect, use, disclose, and protect your information when you engage with our website or utilize our exceptional architectural design and drafting services.
        section
            h3 Information We Collect
            p When you visit our website or connect with us, we may collect various types of information to enhance your experience:
            ul
                li Personal Information: This includes your name, email address, phone number, and any other details you voluntarily provide when reaching out to us.
                li Usage Information: We gather data about your interaction with our website, such as your IP address, device type, browser used, pages viewed, and the duration of your visit. This helps us understand your needs better.
        section
            h3 How We Use Your Information
            p Rest assured, the information we collect serves specific purposes:
            ul
                li Service Enhancement: We use your data to provide and improve our top-notch 3D rendering and shop drawing services, ensuring they meet your expectations.
                li Communication: We might contact you to respond to your inquiries, provide updates, or share valuable insights related to your architectural projects. You have the option to subscribe or unsubscribe from our communications.
                li User Experience: By analyzing website usage and trends, we constantly strive to enhance your online journey with us.
        section
            h3 Sharing Your Information
            p We deeply value your trust, and we don't take it lightly. Your information is shared with third parties only when necessary to provide our services or when legally required.
        section
            h3 Security Measures
            p We take stringent security measures to protect your data. However, it's essential to note that while we employ robust security practices, no online method of data transmission is entirely foolproof.
        section
            h3 Cookies: Your Digital Breadcrumbs
            p Cookies are small files that help us collect usage information and improve our website's functionality. You have the freedom to manage your cookie preferences through your browser settings.
        section
            h3 Your Choices and Rights
            p Your rights matter to us. You can access, correct, or delete your personal information at any time. If you no longer wish to receive our communications, you can easily opt out.
        section
            h3 Changes to This Policy
            p As our services evolve and improve, so does our Privacy Policy. We may update this policy to reflect changes in our practices. Be sure to check back periodically for any updates.
        section
            h3 Contact Us
            p Your privacy matters, and we're here to address any questions or concerns you may have. Feel free to reach out to us at chris.lewis@alliedarchitecturals.com if you have any inquiries about our Privacy Policy or anything else related to Allied Architecturals LLC.
        section
            p Join hands with us at Allied Architecturals LLC, where your architectural visions come to life with precision, creativity, and a profound commitment to privacy.