extends base

block content
    section.sample
        h1.sample__heading Samples
        .first__floor
            h2.first__floor-heading 1st Floor Lobby Paneling
            .slider-1
                .slide-1: img(src='/drawings/1.jpg' alt='Photo 1')
                .slide-1: img(src='/drawings/2.jpg' alt='Photo 2')
                .slide-1: img(src='/drawings/3.jpg' alt='Photo 3')

                button.slider-1__btn.slider-1__btn-left &larr;
                button.slider-1__btn.slider-1__btn-right &rarr;

        .kasho
            h2.kasho-heading Kasho
            .slider-2
                .slide-2: img(src='/drawings/4.jpg' alt='Photo 4')
                .slide-2: img(src='/drawings/5.jpg' alt='Photo 5')
                .slide-2: img(src='/drawings/6.jpg' alt='Photo 6')


                button.slider-2__btn.slider-2__btn-left &larr;
                button.slider-2__btn.slider-2__btn-right &rarr;

        .lobby
            h2.lobby-heading Lobby Desk
            .slider-3
                .slide-3: img(src='/drawings/8.jpg' alt='Photo 8')
                .slide-3: img(src='/drawings/9.jpg' alt='Photo 9')
                .slide-3: img(src='/drawings/10.jpg' alt='Photo 10')

                button.slider-3__btn.slider-3__btn-left &larr;
                button.slider-3__btn.slider-3__btn-right &rarr;

        .pos
            h2.lobby-heading POS
            .slider-4
                .slide-4: img(src='/drawings/11.jpg' alt='Photo 11')
                .slide-4: img(src='/drawings/12.jpg' alt='Photo 12')
                .slide-4: img(src='/drawings/13.jpg' alt='Photo 13')

                button.slider-4__btn.slider-4__btn-left &larr;
                button.slider-4__btn.slider-4__btn-right &rarr;

        .riegler
            h2.lobby-heading Riegler Residence
            .slider-5
                .slide-5: img(src='/drawings/14.jpg' alt='Photo 11')
                .slide-5: img(src='/drawings/15.jpg' alt='Photo 12')
                .slide-5: img(src='/drawings/16.jpg' alt='Photo 13')

                button.slider-5__btn.slider-5__btn-left &larr;
                button.slider-5__btn.slider-5__btn-right &rarr;


    script(src='/js/slider.js')